@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.gradient-highlight {
		@apply bg-clip-text text-transparent bg-gradient-to-tr from-red-500 to-amber-500;
	}
}

html:is(.dark) #gradient_svg stop {
	stop-color: rgb(100, 100, 100);
}

.overflow-hidden {
	overflow: hidden;
}

#gradient_svg stop:last-child {
	stop-color: black;
}

#gradient_svg stop:first-child {
	stop-color: black;
	stop-opacity: 1;
}

main > div > *:not(:first-child) {
	padding-block: 7.5rem;
}

.progress-indicator {
	visibility: visible;
}

[data-menu-open="true"] .progress-indicator {
	visibility: hidden;
}
